body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #444e58;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #282b2e;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #b80d23;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

button.btn-warning {
    background-color: #ffc107;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.btn-warning:hover {
    background-color: #e0a800;
}

button.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.btn-danger:hover {
    background-color: #c82333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
